#page-header {
  h1.h2 {
    font-weight: $headings-font-weight;
  }
}

#region-main {
  background: none;
}

.aalink,
#page-footer a:not([class]),
.arrow_link,
a:not([class]),
.activityinstance > a {
    &.focus,
    &:focus {
        color: $primary;
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
    }
}

.header-actions-container {
  .mform {
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  .nav-tabs:not(.more-nav),
  .nav-pills {
    background-color: transparent;

    .nav-link {
      background: transparent;
      border: 1px;

      &.active {
        @include button-outline-variant($primary);
        background-color: transparent !important;
        border-color: $primary !important;
        border-width: 1px;
        border-style: solid;
        color: $primary !important;
      }
    }
  }
}