#page-header {
  h1.h2 {
    font-weight: $headings-font-weight;
  }
}

#region-main {
  background: none;
}

.aalink,
#page-footer a:not([class]),
.arrow_link,
a:not([class]),
.activityinstance > a {
    &.focus,
    &:focus {
        color: $primary;
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
    }
}