#page-header {
  h1.h2 {
    font-weight: $headings-font-weight;
  }
}

#region-main {
  background: none;
}

// Accessible focus styling for links, add .aalink to links with custom css classes to get
// accessible focus styles.
.aalink,
#page-footer a:not([class]),
.arrow_link,
a:not([class]),
.activityinstance > a {
    &.focus,
    &:focus {
        color: $primary;
        background-color: $gray-100;
        box-shadow: none;
    }
}