$dark-bg-color: #191c20;
$dark-box-bg-color: #121519;
$dark-text-color: rgba($white, .7);
$dark-link-color: rgba($white, .9);
$dark-box-shadow: 0 .4375rem 1.25rem rgba(0,0,0,.24);

[data-bs-theme="dark"] {
  background-color: $dark-bg-color;

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .navbar-nav .popover-region > * > .icon,
  .navbar.fixed-top .nav-tabs .nav-link,
  .navbar.fixed-top .nav-tabs .nav-link:hover,
  .navbar.fixed-top .nav-tabs .nav-link:focus,
  .navbar.fixed-top .nav-tabs .nav-link.active,
  .block .block-cards span.categoryname,
  .block .block-cards .btn-link,
  .dropdown-menu {
    color: $dark-text-color;
  }

  a,
  .maincalendar .calendarmonth td a,
  .maincalendar .calendarmonth th a,
  .maincalendar .calendarmonth td:hover .day-number-circle,
  .maincalendar .calendarmonth td:focus .day-number-circle,
  .maincalendar .calendarmonth td:active .day-number-circle,
  .close,
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link,
  .courseindex .courseindex-item:hover .courseindex-link,
  .courseindex .courseindex-item:hover .courseindex-chevron,
  .courseindex .courseindex-item:focus .courseindex-link,
  .courseindex .courseindex-item:focus .courseindex-chevron,
  .yui3-button,
  .page-link:hover {
    color: $dark-link-color;
  }

  .fp-thumbnail {
    background-color: $gray-600;
  }

  body,
  .card,
  .activity-add,
  .block-add,
  .btn.btn-icon:hover,
  .btn.btn-icon:focus,
  .path-mod .activity-header:not(:empty),
  .generaltable thead .sticky-column,
  .generaltable tbody tr:nth-of-type(2n),
  .page-link,
  .path-mod-assign .gradingtable tr.unselectedrow td {
    background-color: $dark-bg-color;
  }

  .bg-white,
  #page.drawers .main-inner,
  .dropdown-menu,
  .maincalendar .calendarmonth td:hover .day-number-circle,
  .maincalendar .calendarmonth td:focus .day-number-circle,
  .maincalendar .calendarmonth td:active .day-number-circle,
  .modal-content,
  .block .block-cards .btn.btn-link.btn-icon:hover,
  .block .block-cards .btn.btn-link.btn-icon:focus,
  .message-app,
  .list-group-item,
  .moodle-dialogue-base .moodle-dialogue-wrap,
  .page-link:hover,
  .bg-light {
    background-color: $dark-box-bg-color !important;
  }

  .dropdown-menu,
  .dropdown-divider,
  #frontpage-available-course-list .coursebox,
  #frontpage-course-list .coursebox,
  .course-search-result .coursebox,
  .border-bottom,
  .modal-header,
  .modal-footer,
  .mform fieldset,
  .form-control,
  .activity-item:not(.activityinline),
  .course-section,
  .generaltable th,
  .generaltable td,
  .table-bordered th,
  .table-bordered td,
  .path-mod .activity-information .activity-dates,
  .fp-navbar,
  .filepicker-filelist,
  .filemanager-container,
  .fp-iconview .fp-thumbnail,
  .fp-iconview .fp-thumbnail img,
  .moodle-dialogue-base .moodle-dialogue-wrap,
  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
  .card,
  .page-link,
  .page-link:hover,
  .custom-select,
  .table th,
  .table td,
  .table thead th {
    border-color: $gray-800;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    border-color: $dark-link-color;
  }

  .navbar.fixed-left {
    background-color: #101216;
  }

  .drawer,
  .form-control,
  .custom-select,
  textarea {
    background-color: $gray-900;
  }

  .dropdown-menu,
  .drawer-toggles .drawer-toggler .btn {
    box-shadow: $dark-box-shadow;
  }

  .block_myoverview,
  .dashboard-card-footer,
  .fp-iconview .fp-filename-field .fp-filename {
    background-color: transparent !important;
  }

  hr {
    border-color: rgba($white, .1);
  }

  .navbar.fixed-top .usermenu .dropdown-menu .submenu .header .icon {
    filter: invert(1);
  }

  .breadcrumb-item:last-child,
  .breadcrumb-item.active,
  .breadcrumb-item a:hover {
    color: $white;
  }

  @keyframes bg-pulse-grey {
    0% {
        background-color: $gray-700;
    }
    50% {
        background-color: darken($gray-700, 5%);
    }
    100% {
        background-color: $gray-700;
    }
  }
}