.dropdown-menu {
    box-shadow: $dropdown-box-shadow;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    display: block;
    z-index: 1032;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}