#page-wrapper #page-footer {
    padding-left: .5rem;
    padding-right: .5rem;

    @include media-breakpoint-up(sm) {
        padding-left: calc(.5rem + 15px);
        padding-right: calc(.5rem + 15px);
    }

    .social-icons {
        gap: 1rem;

        svg {
            width: 16px;
            height: 16px;
            fill: $black;
            transition: opacity ease .3s;

            &:hover,
            &:focus {
                opacity: .8;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .jsenabled #page-footer .footer-content-popover {
        display: block;
    }
}