.form-control {
  &:focus {
    border-color: $primary;
  }
}

.form-autocomplete-downarrow {
  top: .6rem;
}

.simplesearchform .btn-submit {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

.form-filetypes-descriptions {
  margin-left: 1rem;

  p {
    margin: 0;
  }
}