.drawer-toggles {
  .drawer-toggler {
    z-index: $zindex-fixed;

    .btn {
      background-color: $secondary;
      color: $white;
    }
  }

  .drawer-left-toggle {
    @include media-breakpoint-up(lg) {
      left: $navbar-width;
    }
  }
}

#page {
  &.drawers {
    padding-left: .5rem;
    padding-right: .5rem;

    @include media-breakpoint-up(lg) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &.show-drawer-left {
      @include media-breakpoint-up(lg) {
        margin-left: calc(#{$navbar-width} + #{$drawer-left-width});
      }

      @include media-breakpoint-up(xl) {
        padding-left: 1.5rem;
      }
    }

    &.show-drawer-right {
      @include media-breakpoint-up(lg) {
        margin-left: $navbar-width;
      }

      @include media-breakpoint-up(xl) {
        padding-right: 1.5rem;
      }
    }
  }
}

.drawer {
  background-color: $gray-300;

  &.drawer-left {
    &.show {
      @include media-breakpoint-up(lg) {
        left: $navbar-width;
      }
    }

    &.drawer-primary {
      .list-group-item {
        background: none;

        &.active {
          background-color: $primary;
        }
      }
    }
  }
}