.navbar {
  &.fixed-top {
    height: $navbar-height;
    border-bottom: 0;
    padding: 0 .5rem;

    @include media-breakpoint-up(xlg) {
      left: $navbar-width;
    }

    nav {
      position: fixed;
      top: $navbar-height;
      left: 0;
      width: 100%;
      background-color: $primary;

      @include media-breakpoint-up(xlg) {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        background: none;
      }
    }

    .nav-tabs {
      margin: 0;
      border: none;
      background-color: inherit;
      max-width: none;

      .nav-link {
        height: $navbar-height;
        margin: 0;
        padding: 1rem;
        border: 0;
        border-radius: 0;
        background: none;
        color: rgba($text-on-primary, .7);

        @include media-breakpoint-up(xlg) {
          color: $gray-700;
        }

        &:hover,
        &:focus,
        &.active {
          color: $text-on-primary;

          @include media-breakpoint-up(xlg) {
            color: $primary;
          }
        }
      }
    }

    .editmode-switch-form {
      @include media-breakpoint-up(xlg) {
        display: none !important;
      }
    }
  }

  &.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $navbar-width;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    flex-wrap: nowrap;
    background-color: $primary;
    z-index: #{$zindex-fixed + 1};

    .editmode-switch-form {
      margin-top: auto;
      margin-bottom: 1rem;
      padding: $primary-nav-padding-x $primary-nav-padding-y;
      color: $text-on-primary;
    }
  }

  .navbar-brand {
    height: $navbar-height;
    padding: $primary-nav-padding-x $primary-nav-padding-y;

    img {
      height: 40px;
      max-height: 100%;
    }
  }

  .primary-navigation {
    padding: $primary-nav-padding-x $primary-nav-padding-y;

    a {
      color: $text-on-primary;
    }
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }
}

#page {
  margin-top: $navbar-height;

  @include media-breakpoint-up(xlg) {
    margin-left: $navbar-width;
  }
}

.toggle-holder {
  display: flex;
  height: $navbar-height;
  align-items: center;

  label {
    margin: 0;
    font-size: 1rem;

    &.light {
      margin-right: .5rem;

      [data-theme="light"] & {
        color: $primary;
      }
    }

    &.dark {
      margin-left: 0;

      [data-theme="dark"] & {
        color: $secondary;
      }
    }
  }

  .custom-control-input {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}