.navbar {
  &.fixed-top {
    height: $navbar-height;
    border-bottom: 0;
    padding: 0 .5rem;

    @include media-breakpoint-up(lg) {
      left: $navbar-width;
    }

    .nav-tabs {
      height: 100%;
      margin: 0;
      border: none;
      background-color: inherit;
      max-width: none;

      .nav-link {
        margin: 0;
        padding: 1rem;
        border: 0;
        border-radius: 0;
        background: none;
        color: $gray-700;

        &:hover,
        &:focus,
        &.active {
          color: $primary;
        }
      }
    }

    .editmode-switch-form {
      @include media-breakpoint-up(lg) {
        display: none !important;
      }
    }
  }

  &.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $navbar-width;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    flex-wrap: nowrap;
    background-color: $primary;
    z-index: #{$zindex-fixed + 1};

    .editmode-switch-form {
      margin-top: auto;
      margin-bottom: 1rem;
      padding: $primary-nav-padding-x $primary-nav-padding-y;
      color: $text-on-primary;
    }
  }

  .navbar-brand {
    height: $navbar-height;
    padding: $primary-nav-padding-x $primary-nav-padding-y;

    img {
      height: 40px;
      max-height: 100%;
    }
  }

  .primary-navigation {
    padding: $primary-nav-padding-x $primary-nav-padding-y;

    a {
      color: $text-on-primary;
    }
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }
}

#page {
  margin-top: $navbar-height;

  @include media-breakpoint-up(lg) {
    margin-left: $navbar-width;
  }
}