.yui-skin-sam {
    .yui-layout {
        &.path-mod-chat-gui_ajax {
            #chat-userlist {
                #users-list {
                    border: 0;

                    li {
                        border: 0;
                    }
                }
            }

            #input-message,
            #button-send {
                height: 36px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}