{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_boost/navbar

    This template renders the top navbar.

    Example context (json):
    {
        "output": {
            "should_display_navbar_logo": true,
            "get_logo_url": "http://placekitten.com/50/50",
            "get_compact_logo_url": "http://placekitten.com/50/50",
            "custom_menu": "<li>..</li>",
            "page_heading_menu": "<li>..</li>",
            "search_box": "<div><input type='text'></div>",
            "navbar_plugin_output": "<div class='dropdown'>Messaging</div>",
            "user_menu": "<div class='dropdown'>John Doe</div>"
        },
        "config": {
            "wwwroot": "#",
            "homeurl": "/my/"
        },
        "sitename": "Moodle Site",
        "mobileprimarynav": [
            {
                "text": "Dashboard",
                "url": "/my",
                "isactive": true
            },
            {
                "text": "Site home",
                "url": "/",
                "isactive": false
            },
            {
                "text": "My courses",
                "url": "/course",
                "isactive": false
            }
        ]
    }
}}
{{#leftnavigation}}
    <nav class="navbar fixed-left d-none d-xlg-flex p-0" aria-label="{{#str}}sitemenubar, admin{{/str}}">
        <a href="{{{ config.homeurl }}}" class="navbar-brand m-0 d-flex text-center w-100">
            {{# output.should_display_navbar_logo }}
                <img src="{{output.get_logo_url}}" class="logo m-auto" alt="{{sitename}}">
            {{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                <span class="m-auto">{{{ sitename }}}</span>
            {{/ output.should_display_navbar_logo }}
        </a>
        {{#primarymoremenu}}
            <div class="primary-navigation mt-3">
                {{> core/moremenu}}
            </div>
        {{/primarymoremenu}}

        {{> theme_liquid/socialicons}}

        {{{ output.edit_switch }}}
    </nav>
{{/leftnavigation}}

<nav class="navbar fixed-top bg-white navbar-expand">
    <button class="navbar-toggler aabtn d-block d-xlg-none p-0 mr-3 border-0" data-toggler="drawers"
            data-action="toggle" data-target="theme_boost-drawers-primary">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
    </button>

    <a href="{{{ config.homeurl }}}" class="navbar-brand m-0 p-0 d-flex align-items-center d-xlg-none">
        {{# output.should_display_navbar_logo }}
            {{#leftnavigation}}
                <img src="{{output.get_compact_logo_url}}" class="logo" alt="{{sitename}}">
            {{/leftnavigation}}
            {{^leftnavigation}}
                <img src="{{output.get_logo_url}}" class="logo m-auto d-none d-sm-block" alt="{{sitename}}">
                <img src="{{output.get_compact_logo_url}}" class="logo m-auto d-sm-none" alt="{{sitename}}">
            {{/leftnavigation}}
        {{/ output.should_display_navbar_logo }}
        {{^ output.should_display_navbar_logo }}
            <span class="m-auto">{{{ sitename }}}</span>
        {{/ output.should_display_navbar_logo }}
    </a>

    {{^leftnavigation}}
        {{#primarymoremenu}}
            <div class="main-navbar d-none d-xlg-flex p-0" aria-label="{{#str}}sitemenubar, admin{{/str}}">
                {{> core/moremenu}}
            </div>
        {{/primarymoremenu}}
    {{/leftnavigation}}

    {{#secondarymoremenu}}
        <div class="secondary-navbar">
            {{> core/moremenu}}
        </div>
    {{/secondarymoremenu}}

    <ul class="navbar-nav d-none d-md-flex my-1 px-1">
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>

    <div class="toggle-holder ml-auto mr-3 d-none d-xlg-flex">
        <label class="light" for="darktheme-checkbox-top">
            <i class="fa fa-sun-o"></i>
        </label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input darktheme-checkbox" id="darktheme-checkbox-top">
            <span class="custom-control-label"></span>
        </div>
        <label class="dark" for="darktheme-checkbox-top">
            <i class="fa fa-moon-o"></i>
        </label>
    </div>

    <div id="usernavigation" class="navbar-nav ml-auto ml-xlg-0">
        {{# output.search_box }}
            {{{ output.search_box }}}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/output.search_box}}
        {{#langmenu}}
            {{> theme_boost/language_menu }}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/langmenu}}
        {{{ output.navbar_plugin_output }}}
        <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
            {{#usermenu}}
                {{> core/user_menu }}
            {{/usermenu}}
        </div>
        {{{ output.edit_switch }}}
    </div>
</nav>
{{#secondarymoremenu}}
    <div class="secondary-nav-helper"></div>{{/secondarymoremenu}}
{{> theme_boost/primary-drawer-mobile }}
{{#js}}
M.util.js_pending('theme_liquid/darkmode:load');
require(['theme_liquid/darkmode'], function() {
    M.util.js_complete('theme_liquid/darkmode:load');
});
{{/js}}
