{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_liquid/frontpage/available_course

    This template renders the a card for the course cards.

    Example context (json):
    {
        "courses": [
            {
                "id": 1,
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "courseimage": "https://moodlesite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "Course name 1",
                "coursecategory": "Category"
            }
        ]
    }
}}

<div class="card dashboard-card" role="listitem"
    data-region="course-content"
    data-course-id="{{{id}}}">
    <a href="{{viewurl}}" tabindex="-1">
        <div class="card-img dashboard-card-img" style='background-image: url("{{{courseimage}}}");'>
            <span class="sr-only">{{fullname}}</span>
        </div>
    </a>
    <div class="card-body pr-1 course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                <a href="{{viewurl}}" class="aalink coursename mr-2 mb-1">
                    <span class="sr-only">
                        {{#str}}aria:coursename, core_course{{/str}}
                    </span>
                    {{fullname}}
                </a>
                <div class="text-muted muted d-flex flex-wrap">
                    {{coursecategory}}
                </div>
            </div>
        </div>
    </div>
</div>
