<div class="d-flex social-icons">
    {{#facebooklink}}
        <a href="{{facebooklink}}" target="_blank">
            {{> theme_liquid/icons/facebook}}
        </a>
    {{/facebooklink}}

    {{#xlink}}
        <a href="{{xlink}}" target="_blank">
            {{> theme_liquid/icons/x}}
        </a>
    {{/xlink}}

    {{#instagramlink}}
        <a href="{{instagramlink}}" target="_blank">
            {{> theme_liquid/icons/instagram}}
        </a>
    {{/instagramlink}}

    {{#linkedinlink}}
        <a href="{{linkedinlink}}" target="_blank">
            {{> theme_liquid/icons/linkedin}}
        </a>
    {{/linkedinlink}}

    {{#youtubelink}}
        <a href="{{youtubelink}}" target="_blank">
            {{> theme_liquid/icons/youtube}}
        </a>
    {{/youtubelink}}

    {{#tiktoklink}}
        <a href="{{tiktoklink}}" target="_blank">
            {{> theme_liquid/icons/tiktok}}
        </a>
    {{/tiktoklink}}
</div>